.grid{
    width: 100%;
    display: grid;
    gap: 1.6 em;
    grid-template-columns:repeat(6,1fr) ;
}

.banner{
    grid-column: 1/7;
    width: 100%;

}
.banner-mobile {
    display: none;
}
.img {
    margin: 0;
    width: 100%;

}

.banner-secundary {
    padding : 2.5%;

    grid-column: span 3;
    width: 95%;

}

footer {
    
    text-align: center;
    padding: 3px;
    background-color: #000000;
    color: white;
    grid-column: 1/7;
    table-layout: fixed;
    display: table;

}


.footer-item {
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
    display: table-cell;
    width: 33%;
    color: blanchedalmond;
}
.productosPop {
    grid-column: 1/7;
    width: 100%;

}
.car-container {
    padding-left: 0%;
    width: 10%;

}
.redes{
    fill: #fff ;
    padding-left: 1%;
    width: 50px;
    height: 50px;

}
@media (max-width: 648px) {
    .banner-mobile{
        grid-column: 1/7;
        display: inline;
        width: 100%;
    }
    .banner {
        display: none;

    }
    .banner-secundary {
        padding: 2.5%;

        grid-column: span 7;
        width: 95%;

    }
    .footer-item {
        padding-top: 3%;
        padding-bottom: 3%;
        text-align: center;
        grid-column: 1/7;
        display:list-item;
        width: 90%;
        color: blanchedalmond;
    }
}
